.details {
	max-width: 60rem;

	picture {
		display: block;

		img {
			display: block;
			margin: 0 auto;
			width: 100%;
			max-width: 40em;
			height: auto;
		}
	}

	h2 {
		font-size: 1.5em;
		text-align: center;
	}

	a {
		color: $white;
	}

	div {
		font-size: 1.2em;
	}
}
