header {
	padding: 1em;
	font-size: 2em;
	max-width: $container-width;
	margin: 0 auto;

	.subtitle {
		display: block;
		font-size: 2rem;
		margin-top: 1em;
	}

	p {
		display: inline-block;
		font-size: 1.3rem;
	}

	a {
		position: relative;
		color: $white;
		font-size: 1.3rem;
		text-decoration-skip: edges;
		margin-right: 1.5em;

		&::before {
			content: '>';
			position: absolute;
			bottom: 0;
			right: -1em;
			color: $white;
		}
	}
}
