main {
	max-width: $container-width;
	margin: 0 auto;
	padding: 2em;
	box-sizing: border-box;
}

ul.overview {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;

	li {
		width: 30%;
		min-width: 300px;
		margin-bottom: 4em;
	}

	figure {
		position: relative;
		width: 100%;
		margin: 0;

		img {
			width: 100%;
			height: 25em;
			object-fit: cover;
		}
	}

	figcaption {
		width: 100%;
		background: $background;
		color: $titleColor;
		text-align: center;
		text-decoration: none;
		font-size: 1.6em;
		padding: 1em 0;
	}

	small {
		font-size: 0.6em;
		margin-left: 1em;
	}

	a {
		text-decoration: none;
	}
}
